@media (min-width:992px) {
    /*======================================= main-footer ===================================*/
    .main-footer .footer-menu {
        width: 43%;
    }
    .main-footer .copy {
        width: 23%;
    }
    .main-footer .social {
        width: 34%;
    }
}

@media (min-width:1200px) {
    /*======================================= mover-packers ===================================*/
    .mover-packers {
        .container {
            position: relative;
            &:after {
                content: "";
                position: absolute;
                top: 11%;
                right: 0;
                width: 141px;
                height: 303px;
                background: url(../images/02.png) no-repeat;
                background-size: 100% 100%;
            }
        }
    }
}

@media (max-width:1199px) {
    .main-header .navbar-nav > li > a {
        font-size: 16px;
    }
    .main-header .item {
        width: 50%;
        padding: 0 5px;
        border: none !important;
    }
    .main-header .item.phone {
        display: none;
    }
    .main-header .item.call i {
        font-size: 26px;
        line-height: 35px;
    }
    .main-header .item.call a {
        width: calc(100% - 26px);
    }
}


@media (max-width:991px) {
    /*======================================= mover-packers ===================================*/
    .mover-packers ul.packeg-list li {
        padding-right: 67px;
    }
    /*======================================= main-footer ===================================*/
    .widget-bottom {
        text-align: center;
        > div {
            padding: 5px 0;
        }
    }
    /*======================================= video ===================================*/
    .video-carosual .background h3 {
        font-size: 22px;
    }
    .video-carosual .background p {
        font-size: 14px;
    }
    .video-carosual .background .overlay {
        padding-top: 210px;
    }
    #vmap {
        height: 430px;
    }
    .main-header .item {
        display: none;
    }
}

@media (max-width:767px) {
    /*======================================= mover-packers ===================================*/
    .blog-content .content {
        padding: 30px 0;
    }
    .blog-content .content .text {
        padding: 20px 0 0 0;
    }
    .mover-packers ul.packeg-list li p {
        display: none;
    }
    .mover-packers ul.packeg-list {
        padding: 30px 0;
    }
    .mover-packers ul.packeg-list li {
        padding-right: 62px;
    }
    .mover-packers ul.packeg-list li a {
        width: 80px;
        height: 80px;
        img {
            width: 70%;
        }
    }
    /*======================================= achivement ===================================*/
    .achivement .col-md-3 {
        border-right: none;
    }
    .achivement .item {
        padding: 15px 0;
    }
    /*======================================= video ===================================*/
    .video-carosual {
        height: auto !important;
        width: 100%;
        clear: both;
        position: static;
    }
    .video-carosual .background .overlay {
        height: auto !important;
        padding: 150px 0;
    }
    .video-carosual .background h3 {
        font-size: 28px;
    }
    .video-carosual .background p {
        font-size: 16px;
    }
    .video-carosual .owl-dots {
        right: 0;
        left: 0;
        margin: 0 auto;
        text-align: center;
    }
    /*======================================= world-map ===================================*/
    #vmap {
        height: 336px;
    }
    .navbar-default .navbar-toggle {
        border-color: #377fc2;
        margin-top: 13px;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #377fc2;
    }
    .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle:hover {
        background-color: #377fc2;
        .icon-bar {
            background-color: #fff;
        }
    }
    .navbar-toggle[aria-expanded="true"] {
        .icon-bar-2 {
            opacity: 0;
        }
        .icon-bar-1 {
            transform: rotate(135deg);
            position: relative;
            top: 6px;
        }
        .icon-bar-3 {
            transform: rotate(45deg);
            position: relative;
            top: -6px;
        }
    }
    .main-header .flex-center {
        display: block;
    }
}

@media (max-width:575px) {
    /*======================================= mover-packers ===================================*/
    .blog-content .content {
        text-align: center;
    }
    .mover-packers ul.packeg-list li {
        padding-right: 39px;
    }
    .support.no-background {
        background: none;
    }
    /*======================================= review ===================================*/
    .client-review .star ul {
        float: left;
        text-align: left;
    }
}

@media (max-width:479px) {
    /*======================================= mover-packers ===================================*/
    .mover-packers ul.packeg-list li {
        padding-right: 12px;
    }
    .mover-packers ul.packeg-list li a {
        width: 60px;
        height: 60px;
    }
    .mover-packers ul.packeg-list li a img {
        width: 60%;
    }
    .mover-packers ul.packeg-list li a::after {
        width: 100%;
    }
    /*======================================= question ===================================*/
    .question .item .text {
        padding-left: 0;
        width: 100%;
        padding-top: 30px;
    }
    .question .item .icon {
        margin: 0 auto;
        float: none;
    }
    /*======================================= world-map ===================================*/
    #vmap {
        height: 223px;
    }
    /*======================================= review ===================================*/
    .client-review .star small {
        font-size: 16px;
    }
    .client-review .img {
        float: none;
        margin-bottom: 20px;
    }
    .client-review .img img {
        margin: 0 auto;
    }
    .client-review .text {
        width: 100%;
        padding-left: 0;
    }
}
