@media (min-width: 992px) {
  /*======================================= main-footer ===================================*/
  .main-footer .footer-menu {
    width: 43%;
  }

  .main-footer .copy {
    width: 23%;
  }

  .main-footer .social {
    width: 34%;
  }
}
@media (min-width: 1200px) {
  /*======================================= mover-packers ===================================*/
  .mover-packers .container {
    position: relative;
  }
  .mover-packers .container:after {
    content: "";
    position: absolute;
    top: 11%;
    right: 0;
    width: 141px;
    height: 303px;
    background: url(../images/02.png) no-repeat;
    background-size: 100% 100%;
  }
}
@media (max-width: 991px) {
  /*======================================= mover-packers ===================================*/
  .mover-packers ul.packeg-list li {
    padding-right: 67px;
  }

  /*======================================= main-footer ===================================*/
  .widget-bottom {
    text-align: center;
  }
  .widget-bottom > div {
    padding: 5px 0;
  }

  /*======================================= video ===================================*/
  .video-carosual .background h3 {
    font-size: 22px;
  }

  .video-carosual .background p {
    font-size: 14px;
  }

  .video-carosual .background .overlay {
    padding-top: 210px;
  }

  #vmap {
    height: 430px;
  }
}
@media (max-width: 767px) {
  /*======================================= mover-packers ===================================*/
  .blog-content .content {
    padding: 30px 0;
  }

  .blog-content .content .text {
    padding: 20px 0 0 0;
  }

  .mover-packers ul.packeg-list li p {
    display: none;
  }

  .mover-packers ul.packeg-list {
    padding: 30px 0;
  }

  .mover-packers ul.packeg-list li {
    padding-right: 62px;
  }

  .mover-packers ul.packeg-list li a {
    width: 80px;
    height: 80px;
  }
  .mover-packers ul.packeg-list li a img {
    width: 70%;
  }

  /*======================================= achivement ===================================*/
  .achivement .col-md-3 {
    border-right: none;
  }

  .achivement .item {
    padding: 15px 0;
  }

  /*======================================= video ===================================*/
  .video-carosual {
    height: auto !important;
    width: 100%;
    clear: both;
    position: static;
  }

  .video-carosual .background .overlay {
    height: auto !important;
    padding: 150px 0;
  }

  .video-carosual .background h3 {
    font-size: 28px;
  }

  .video-carosual .background p {
    font-size: 16px;
  }

  .video-carosual .owl-dots {
    right: 0;
    left: 0;
    margin: 0 auto;
    text-align: center;
  }

  /*======================================= world-map ===================================*/
  #vmap {
    height: 336px;
  }
}
@media (max-width: 575px) {
  /*======================================= mover-packers ===================================*/
  .blog-content .content {
    text-align: center;
  }

  .mover-packers ul.packeg-list li {
    padding-right: 39px;
  }

  .support.no-background {
    background: none;
  }

  /*======================================= review ===================================*/
  .client-review .star ul {
    float: left;
    text-align: left;
  }
}
@media (max-width: 479px) {
  /*======================================= mover-packers ===================================*/
  .mover-packers ul.packeg-list li {
    padding-right: 12px;
  }

  .mover-packers ul.packeg-list li a {
    width: 60px;
    height: 60px;
  }

  .mover-packers ul.packeg-list li a img {
    width: 60%;
  }

  .mover-packers ul.packeg-list li a::after {
    width: 100%;
  }

  /*======================================= question ===================================*/
  .question .item .text {
    padding-left: 0;
    width: 100%;
    padding-top: 30px;
  }

  .question .item .icon {
    margin: 0 auto;
    float: none;
  }

  /*======================================= world-map ===================================*/
  #vmap {
    height: 223px;
  }

  /*======================================= review ===================================*/
  .client-review .star small {
    font-size: 16px;
  }

  .client-review .img {
    float: none;
    margin-bottom: 20px;
  }

  .client-review .img img {
    margin: 0 auto;
  }

  .client-review .text {
    width: 100%;
    padding-left: 0;
  }
}
