$f: 'Open Sans',
sans-serif;
$blue: #377fc2;
$black: #2d3436;
$gray: #e3e3e3;
$white: #fff;
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $f;
    color: $black;
}

body {
    font-size: 16px;
}

h1,
h2,
h3 {
    color: $blue;
}

@media (min-width:1200px) {
    .container {
        width: 1195px;
    }
}

.heading {
    padding: 60px 0;
    h2 {
        margin: 0;
        font-size: 24px;
        color: $black;
        font-weight: 300;
        border-bottom: 1px solid $gray;
        display: inline-block;
        padding: 0 20px 12px 20px;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            background: $blue;
            height: 3px;
            width: 46px;
            top: 100%;
            margin-top: -1.5px;
            transition: .5s;
        }
        &:hover {
            &:after {
                width: 100%;
            }
        }
    }
}

.section-deatiles {
    max-width: 877px;
    margin: 0 auto;
    font-weight: 300;
}

.img-responsive {
    display: initial;
}

.flex {
    display: flex;
    flex-flow: row wrap;
}

/*======================================= mover-packers ===================================*/

.mover-packers {
    ul.packeg-list {
        padding: 60px 0;
        margin: 0;
        list-style: none;
        li {
            display: inline-block;
            padding-right: 126px;
            position: relative;

            &:last-child {
                padding-right: 0;
                a {
                    &:after {
                        display: none;
                    }
                }
            }
            p {
                margin: 0;
                color: $blue;
                font-size: 18px;
                font-weight: 600;
                margin-top: 15px;
            }
            a {
                position: relative;
                display: block;
                width: 115px;
                height: 115px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: $white;
                z-index: 2;
                &:after {
                    content: "";
                    position: absolute;
                    width: 150%;
                    border-top: 1px solid #cdeaf7;
                    top: 50%;
                    left: 100%;
                }
                .icon {
                    position: relative;
                    z-index: 2;
                }

                .circle {
                    position: absolute;
                    z-index: 1;
                    top: 0;
                    left: 0;
                    display: block;
                    width: 100%;
                    height: 100%;
                    border-radius: 100%;
                    border: 1px solid #ededed;
                    &:after {
                        content: '';
                        position: absolute;
                        top: 5%;
                        left: 5%;
                        width: 90%;
                        height: 90%;
                        border-radius: 100%;
                        background: $white;
                    }

                    span {
                        position: absolute;
                        width: 50.22%;
                        height: 100%;
                        overflow: hidden;

                        em {
                            position: absolute;
                            border-radius: 999px;
                            width: 100%;
                            height: 100%;
                            background: $blue;
                            transition: transform .25s linear;
                        }

                        &:first-child {
                            left: 0%;

                            em {
                                left: 100%;
                                border-top-left-radius: 0;
                                border-bottom-left-radius: 0;
                                transform-origin: 0% 50%;
                            }
                        }

                        &:last-child {
                            left: 50%;

                            em {
                                left: -100%;
                                border-top-right-radius: 0;
                                border-bottom-right-radius: 0;
                                transform-origin: 100% 50%;
                                transition-delay: .25s;
                            }
                        }
                    }
                }


            }
            &:hover a {

                .circle span {

                    &:first-child em {
                        transform: rotate(-180deg);
                        transition: transform .5s ease-out;
                        transition-delay: .25s;
                    }

                    &:last-child em {
                        transform: rotate(-180deg);
                        transition: transform .25s linear;
                    }
                }
            }
        }
    }
}

.blog-content {
    .blog-wraper {
        max-width: (1015px+32);
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
    }
    .content {
        padding: 30px 15px;
        .text {
            padding: 20px 17px 0 17px;
            a.title {
                font-size: 20px;
                color: $black;
            }
            p {
                line-height: (21/16);
                margin: 8px 0 25px;
            }

        }
    }
}

.read-more {
    border: 1px solid $blue;
    color: $blue;
    font-size: 12px;
    font-weight: 700;
    transition: .3s;
    text-transform: uppercase;
    &:hover {
        color: $white;
        background: $blue;
    }
}

/*======================================= features ===================================*/

.features {
    padding-bottom: 60px;
    .item {
        padding: 15px 0;
        .icon {
            float: left;
            width: 53px;
        }
        .text {
            float: left;
            width: calc(100% - 53px);
            padding-left: 15px;
            h4 {
                font-weight: 600;
                position: relative;
                margin: 0;
                padding-bottom: 15px;
                margin-bottom: 10px;
                &:after {
                    content: "";
                    width: 38px;
                    height: 2px;
                    background: $blue;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                }
            }
            p {
                line-height: (21/16);
                margin: 0;
            }
        }
    }
}

/*======================================= achivement ===================================*/

.heading-2 {
    color: $white;
    padding: 40px 0;
    h2 {
        margin: 0;
        font-size: 30px;
        color: $white;
        margin-bottom: 30px;
    }
    p {
        line-height: (30/16);
        max-width: 509px;
        margin: 0 auto;
    }
}

.achivement {
    background: $blue;
    color: $white;
    padding-bottom: 40px;
    .col-md-3 {
        border-right: 1px solid #72a5d4;
        &:last-child {
            border: none;
        }
    }
    .item {
        text-align: center;
        height: 100%;

        padding: 10px 0;
        img {
            max-width: 100%;
        }
        .counter {
            font-weight: 700;
            font-size: 25px;
            margin: 12px 0;
        }
        p {
            font-weight: 300;
            font-weight: 18px;
            margin: 0;
        }
    }
}

/*======================================= question ===================================*/

.question {
    padding-bottom: 70px;
    .heading {
        padding-bottom: 30px;
    }
    .item {
        padding: 40px 0;
        .icon {
            background: $blue;
            width: 100px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            float: left;
        }
        .text {
            float: left;
            width: calc(100% - 100px);
            padding-left: 20px;
            a {
                margin: 0;
                font-size: 18px;
                line-height: (18/18);
                margin-bottom: 15px;
                color: $black;
                display: inline-block;
            }
            p {
                margin: 0;
                line-height: (22/16);
            }
        }
    }
}
/*======================================= best-packer-mover ===================================*/
.best-packer-mover{
    padding-bottom: 30px;
    p{
        margin: 0;
        font-size: 18px;
        font-style: italic;
        line-height: (36/18);
        font-weight: 300;
    }
}
/*======================================= footer-bottm ===================================*/
.footer-bottm{
    color: #212121;
    padding: 80px 0;
    h4{
        font-size: 18px;
        font-weight: 700;
        margin: 0;
        margin-bottom: 15px;
        line-height: (24/18);
    }
    p{
        line-height: (27/16);
        margin-bottom: 20px;
    }
}