body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  color: #2d3436;
}

body {
  font-size: 16px;
}

h1,
h2,
h3 {
  color: #377fc2;
}

@media (min-width: 1200px) {
  .container {
    width: 1195px;
  }
}
.heading {
  padding: 60px 0;
}
.heading h2 {
  margin: 0;
  font-size: 24px;
  color: #2d3436;
  font-weight: 300;
  border-bottom: 1px solid #e3e3e3;
  display: inline-block;
  padding: 0 20px 12px 20px;
  position: relative;
}
.heading h2:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #377fc2;
  height: 3px;
  width: 46px;
  top: 100%;
  margin-top: -1.5px;
  -webkit-transition: .5s;
  transition: .5s;
}
.heading h2:hover:after {
  width: 100%;
}

.section-deatiles {
  max-width: 877px;
  margin: 0 auto;
  font-weight: 300;
}

.img-responsive {
  display: initial;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

/*======================================= mover-packers ===================================*/
.mover-packers ul.packeg-list {
  padding: 60px 0;
  margin: 0;
  list-style: none;
}
.mover-packers ul.packeg-list li {
  display: inline-block;
  padding-right: 126px;
  position: relative;
}
.mover-packers ul.packeg-list li:last-child {
  padding-right: 0;
}
.mover-packers ul.packeg-list li:last-child a:after {
  display: none;
}
.mover-packers ul.packeg-list li p {
  margin: 0;
  color: #377fc2;
  font-size: 18px;
  font-weight: 600;
  margin-top: 15px;
}
.mover-packers ul.packeg-list li a {
  position: relative;
  display: block;
  width: 115px;
  height: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  z-index: 2;
}
.mover-packers ul.packeg-list li a:after {
  content: "";
  position: absolute;
  width: 150%;
  border-top: 1px solid #cdeaf7;
  top: 50%;
  left: 100%;
}
.mover-packers ul.packeg-list li a .icon {
  position: relative;
  z-index: 2;
}
.mover-packers ul.packeg-list li a .circle {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 1px solid #ededed;
}
.mover-packers ul.packeg-list li a .circle:after {
  content: '';
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 100%;
  background: #fff;
}
.mover-packers ul.packeg-list li a .circle span {
  position: absolute;
  width: 50.22%;
  height: 100%;
  overflow: hidden;
}
.mover-packers ul.packeg-list li a .circle span em {
  position: absolute;
  border-radius: 999px;
  width: 100%;
  height: 100%;
  background: #377fc2;
  -webkit-transition: -webkit-transform .25s linear;
  transition: -webkit-transform .25s linear;
  transition: transform .25s linear;
  transition: transform .25s linear, -webkit-transform .25s linear;
}
.mover-packers ul.packeg-list li a .circle span:first-child {
  left: 0%;
}
.mover-packers ul.packeg-list li a .circle span:first-child em {
  left: 100%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
}
.mover-packers ul.packeg-list li a .circle span:last-child {
  left: 50%;
}
.mover-packers ul.packeg-list li a .circle span:last-child em {
  left: -100%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
  -webkit-transition-delay: .25s;
          transition-delay: .25s;
}
.mover-packers ul.packeg-list li:hover a .circle span:first-child em {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transition: -webkit-transform .5s ease-out;
  transition: -webkit-transform .5s ease-out;
  transition: transform .5s ease-out;
  transition: transform .5s ease-out, -webkit-transform .5s ease-out;
  -webkit-transition-delay: .25s;
          transition-delay: .25s;
}
.mover-packers ul.packeg-list li:hover a .circle span:last-child em {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transition: -webkit-transform .25s linear;
  transition: -webkit-transform .25s linear;
  transition: transform .25s linear;
  transition: transform .25s linear, -webkit-transform .25s linear;
}

.blog-content .blog-wraper {
  max-width: 1047px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}
.blog-content .content {
  padding: 30px 15px;
}
.blog-content .content .text {
  padding: 20px 17px 0 17px;
}
.blog-content .content .text a.title {
  font-size: 20px;
  color: #2d3436;
}
.blog-content .content .text p {
  line-height: 1.3125;
  margin: 8px 0 25px;
}

.read-more {
  border: 1px solid #377fc2;
  color: #377fc2;
  font-size: 12px;
  font-weight: 700;
  -webkit-transition: .3s;
  transition: .3s;
  text-transform: uppercase;
}
.read-more:hover {
  color: #fff;
  background: #377fc2;
}

/*======================================= features ===================================*/
.features {
  padding-bottom: 60px;
}
.features .item {
  padding: 15px 0;
}
.features .item .icon {
  float: left;
  width: 53px;
}
.features .item .text {
  float: left;
  width: calc(100% - 53px);
  padding-left: 15px;
}
.features .item .text h4 {
  font-weight: 600;
  position: relative;
  margin: 0;
  padding-bottom: 15px;
  margin-bottom: 10px;
}
.features .item .text h4:after {
  content: "";
  width: 38px;
  height: 2px;
  background: #377fc2;
  position: absolute;
  left: 0;
  bottom: 0;
}
.features .item .text p {
  line-height: 1.3125;
  margin: 0;
}

/*======================================= achivement ===================================*/
.heading-2 {
  color: #fff;
  padding: 40px 0;
}
.heading-2 h2 {
  margin: 0;
  font-size: 30px;
  color: #fff;
  margin-bottom: 30px;
}
.heading-2 p {
  line-height: 1.875;
  max-width: 509px;
  margin: 0 auto;
}

.achivement {
  background: #377fc2;
  color: #fff;
  padding-bottom: 40px;
}
.achivement .col-md-3 {
  border-right: 1px solid #72a5d4;
}
.achivement .col-md-3:last-child {
  border: none;
}
.achivement .item {
  text-align: center;
  height: 100%;
  padding: 10px 0;
}
.achivement .item img {
  max-width: 100%;
}
.achivement .item .counter {
  font-weight: 700;
  font-size: 25px;
  margin: 12px 0;
}
.achivement .item p {
  font-weight: 300;
  font-weight: 18px;
  margin: 0;
}

/*======================================= question ===================================*/
.question {
  padding-bottom: 70px;
}
.question .heading {
  padding-bottom: 30px;
}
.question .item {
  padding: 40px 0;
}
.question .item .icon {
  background: #377fc2;
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  float: left;
}
.question .item .text {
  float: left;
  width: calc(100% - 100px);
  padding-left: 20px;
}
.question .item .text a {
  margin: 0;
  font-size: 18px;
  line-height: 1;
  margin-bottom: 15px;
  color: #2d3436;
  display: inline-block;
}
.question .item .text p {
  margin: 0;
  line-height: 1.375;
}

/*======================================= best-packer-mover ===================================*/
.best-packer-mover {
  padding-bottom: 30px;
}
.best-packer-mover p {
  margin: 0;
  font-size: 18px;
  font-style: italic;
  line-height: 2;
  font-weight: 300;
}

/*======================================= support ===================================*/
.support {
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, color-stop(60%, #81b5e2), color-stop(40%, #377fc2));
  background: linear-gradient(to right, #81b5e2 60%, #377fc2 40%);
}
.support .item {
  padding-bottom: 20px;
  min-height: 174px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
}
.support .operator {
  background: #81b5e2;
}
.support .patner {
  background: #377fc2;
}
.support p {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 10px 0;
}

.tab {
  color: #377fc2;
  background: #fff;
  border-radius: 0;
  min-width: 217px;
  padding: 8px 12px;
  font-weight: 600;
  font-size: 18px;
  -webkit-transform: .3s;
          transform: .3s;
  border: 2px solid transparent;
}
.tab:hover {
  background: #377fc2;
  color: #fff;
  border-color: #fff;
}

.support.lightblue {
  background: -webkit-gradient(linear, right top, left top, color-stop(60%, #81b5e2), color-stop(40%, #377fc2));
  background: linear-gradient(to left, #81b5e2 60%, #377fc2 40%);
}
.support.lightblue .patner {
  background: #81b5e2;
}
.support.lightblue .operator {
  background: #377fc2;
}

.support.blue {
  background: -webkit-gradient(linear, left top, right top, color-stop(60%, #81b5e2), color-stop(40%, #377fc2));
  background: linear-gradient(to right, #81b5e2 60%, #377fc2 40%);
}
.support.blue .operator {
  background: #81b5e2;
}
.support.blue .patner {
  background: #377fc2;
}

/*======================================= footer-bottm ===================================*/
.footer-bottm {
  color: #212121;
  padding: 80px 0;
}
.footer-bottm h4 {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 15px;
  line-height: 1.3333333333;
}
.footer-bottm p {
  line-height: 1.6875;
  margin-bottom: 20px;
}
